untracked/

/fteqw-sdl2
/fteqw64.exe

/*.bat
/*.dll
/*.so
/*.lst
/*.sh
/installed.lst
/conhistory.txt
/triadarena/fte.cfg
/triadarena/config.cfg
/triadarena/*.sav
/triadarena/*.lno
/triadarena/rottgoodies.zip
/triadarena/rott_sc55.zip
/triadarena/csqccore.txt
/triadarena/saves/
/triadarena/data/
/triadarena/dlcache/
/triadarena/screen_recording.mp4
/triadarena/screenshots/
/triadarena/ssqccore.txt
/triadarena/video/
/maptimes.txt
