
/**/untracked/

/*.bat
/*.dll
/*.lst
/*.sh
/installed.lst
/conhistory.txt
/rott/fte.cfg
/rott/*.sav
/rott/*.lno
/rott/rottgoodies.zip
/rott/rott_sc55.zip
/rott/csqccore.txt
/rott/saves/
/rott/data/
/rott/dlcache/
/rott/screen_recording.mp4
/rott/screenshots/
/rott/ssqccore.txt
/rott/video/
/maptimes.txt
