
/**/untracked/

/*.bat
/*.dll
/*.lst
/*.sh
/conhistory.txt
/rott/fte.cfg
/rott/*.sav
/rott/*.lno
/rott/csqccore.txt
/rott/saves/
/rott/data/
/rott/screen_recording.mp4
/rott/screenshots/
/rott/ssqccore.txt
/rott/video/
/rott/data/
/maptimes.txt
